.Projects {
    padding: 80px 0;
    background-color: #2b2b2b;
}

.Title {
    border-bottom: 3px solid rgb(105, 64, 218);
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.LinksDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Link {
    color: rgb(240, 241, 247);
    font-size: 25px;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: black;
}

.FlipCard {
    width: 100%;
    height: 315px;
    perspective: 1000px;
}

.FlipCardInner {
    position: relative;
    background-color: #2b2b2b;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
}


.FlipCardFront, .FlipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.FlipCardFront {
    color: black;
}

.FlipCardBack {
    color: rgb(247, 231, 7);
    padding: 60px 0;
}