.Home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../../assets/images/background.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.Banner {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.472);
    color: white;
}

.Next {
    position: absolute;
    bottom: 0;
    right: 48.5%;
    padding:50px 0;
}

.Next a {
    color: white;
    font-size: 45px;
}

h1 {
    color: rgb(247, 231, 7);
}