.Footer {
    position: relative;
    background-color: #212529;
}

.Home {
    position: absolute;
    top: -85px;
    right: 48.5%;
    padding: 50px 0;
}

.Home a {
    color: white;
    font-size: 45px;
}